<%= form_with(model: menu, local: true) do |form| %>
  <% if menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
        <% menu.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form">
    <div class="field">
      <%= form.label "Juha" %>
      <%= form.text_field :soup %>
    </div>
    <div class="field">
      <%= form.label "Cijena juhe" %>
      <%= form.text_field :soup_p %>
    </div>
    <div class="field">
      <%= form.label "Glavno jelo" %>
      <%= form.text_field :main_course %>
    </div>
    <div class="field">
      <%= form.label "Cijena glavnog jela" %>
      <%= form.text_field :main_p %>
    </div>
    <div class="field">
      <%= form.label "Prilog 1" %>
      <%= form.text_field :side1 %>
    </div>

    <div class="field">
      <%= form.label "Cijena priloga 1" %>
      <%= form.text_field :side1_p %>
    </div>
    <div class="field">
      <%= form.label "Prilog 2" %>
      <%= form.text_field :side2 %>
    </div>

    <div class="field">
      <%= form.label "Cijena priloga 2" %>
      <%= form.text_field :side2_p %>
    </div>

    <div class="field">
      <%= form.label "Datum ručka" %>
      <%= form.date_select :lunch_date %>
    </div>

    <div class="field">
      <%= form.label "Napomena" %>
      <%= form.text_field :description %>
    </div>

    <div class="actions">
      <%= form.submit "Spremi Meni", class: "button button-add" %>
      <%= link_to 'Odustani', menus_path, class: "button button-clear"%>
    </div>
  </div>
<% end %>
