<div class="table">

  <h1>Meniji <%= link_to 'Dodaj novi meni', new_menu_path, class: "button button-add" %></h1>

  <table>
    <thead>
      <tr>
        <th>Datum ručka</th>
        <th>Napomena</th>
        <th>Juha</th>
        <th>Glavno jelo</th>
        <th>Prilog 1</th>
        <th>Prilog 2</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @menus_active.each do |menu| %>
        <tr>
          <td><%= menu.lunch_date.strftime("%d.%m.%Y") %></td>
          <td><%= menu.description %></td>
          <td><%= menu.soup %></td>
          <td><%= menu.main_course %></td>
          <td><%= menu.side1 %></td>
          <td><%= menu.side2 %></td>
          <td><%= link_to 'Prikaži', menu, class: "button button-add"  %>
            <%= link_to 'Uredi', edit_menu_path(menu), class: "button button-add"  %>
            <%= link_to 'Obriši', menu, method: :delete, data: { confirm: 'Are you sure?' }, class: "button button-clear" %></td>
        </tr>

      <% end %>
    </tbody>
  </table>

  <br>

</div>