<div class="table">

  <h2> <%=@menu.lunch_date.strftime("%d.%m.%Y") %> <%= link_to 'Uredi', edit_menu_path(@menu), class: "button button-add" %> <%= link_to 'Nazad', menus_path, class: "button button-clear" %> </h2>
  <p>
    <strong>Rok za prijavu ručka:</strong>
    <%= @menu.due_date.strftime("%d.%m.%Y %H:%M") %>
  </p>

  <p>
    <strong>Opis obroka (datum):</strong>
    <%= @menu.description %>
  </p>

  <table>
    <tr>
      <th>Ime</th>
      <th>Juha (<%=@menu.soup%>)</th>
      <th>Glavno jelo (<%=@menu.main_course%>)</th>
      <th>Prilog 1 (<%=@menu.side1%>)</th>
      <th>Prilog 2 (<%=@menu.side2%>)</th>
      <th>Cikla</th>
      <th>Kupus</th>
      <th>Zelena salata</th>
      <th>Kruh</th>
    </tr>
    <%@menu_orders.each do |menu_order|%>
      <tr>
        <td><%= menu_order.employee.full_name %></td>
        <td><%= menu_order.soup %></td>
        <td><%= menu_order.main_course %></td>
        <td><%= menu_order.side1 %></td>
        <td><%= menu_order.side2 %></td>
        <td><%= menu_order.beetroot %></td>
        <td><%= menu_order.cabbage %></td>
        <td><%= menu_order.lettuce %></td>
        <td><%= menu_order.bread %></td>
      </tr>
    <%end%>

    <br>
    <tr>
      <td style="font-weight: bold;">Ukupno: </td>
      <td><%= @menu_orders.sum(:soup) %></td>
      <td><%= @menu_orders.sum(:main_course)  %></td>
      <td><%= @menu_orders.sum(:side1)  %></td>
      <td><%= @menu_orders.sum(:side2)  %></td>
      <td><%= @menu_orders.sum(:beetroot) %></td>
      <td><%= @menu_orders.sum(:cabbage)  %></td>
      <td><%= @menu_orders.sum(:lettuce)  %></td>
      <td><%= @menu_orders.sum(:bread)  %></td>
    </tr>
  </table>
</div>