<div class="table">
  <h2>
    Uređivanje Profila
  </h2>
  <div class="form">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      
      <div class="field">
        <%= f.label :full_name %><br />
        <%= f.text_field :full_name, autofocus: true %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label "Nova Zaporka" %> <i>(Ostaviti prazno ako ne želite promijeniti zaporku)</i><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label "Potvrda Nove Zaporke" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label "Trenutna Zaporke" %> <i>(Potrebna za autorizaciju promjena)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Update", class: "button button-add"  %>
        <%= link_to "Prekini", :back, class: "button button-clear" %>
      </div>

    <% end %>
    <div class="actions">
      <p> Nezadovoljni Uslugom 'Narudžba Ručka'?</p>
      <%= button_to "Obriši račun", registration_path(resource_name), data: { confirm: "Jeste li sigurni?" }, method: :delete, class: "button button-clear" %>
    </div>

  </div>
</div>