<div class="table">

  <h2>Registracija</h2>

  <div class="form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label "E-mail" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="field">
        <%= f.label "Ime i Prezime" %><br />
        <%= f.text_field :full_name, autofocus: true %>
      </div>
      <div class="field">
        <%= f.label "Zaporka" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> znakova minimalno)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "nova zaporka" %>
      </div>
      <div class="field">
        <%= f.label "Potvrda Zaporke" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "nova zaporka" %>
      </div>

      <div class="actions">
        <%= f.submit "Registriraj se", class: "button button-add"  %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>