<%if @menu_order.menu.soup!="Nema"%>document.getElementById(<%=@menu_order.menu.id%>+'-'+<%=@menu_order.id%>+'-soup').textContent = <%=@menu_order.soup%><%end%>
<%if @menu_order.menu.main_course!="Nema"%>document.getElementById(<%=@menu_order.menu.id%>+'-'+<%=@menu_order.id%>+'-main').textContent = <%=@menu_order.main_course%><%end%>
<%if @menu_order.menu.side1!="Nema"%>document.getElementById(<%=@menu_order.menu.id%>+'-'+<%=@menu_order.id%>+'-side1').textContent = <%=@menu_order.side1%><%end%>
<%if @menu_order.menu.side2!="Nema"%>document.getElementById(<%=@menu_order.menu.id%>+'-'+<%=@menu_order.id%>+'-side2').textContent = <%=@menu_order.side2%><%end%>
document.getElementById(<%=@menu_order.menu.id%>+'-'+<%=@menu_order.id%>+'-beetroot').textContent = <%=@menu_order.beetroot%>
document.getElementById(<%=@menu_order.menu.id%>+'-'+<%=@menu_order.id%>+'-cabbage').textContent = <%=@menu_order.cabbage%>
document.getElementById(<%=@menu_order.menu.id%>+'-'+<%=@menu_order.id%>+'-lettuce').textContent = <%=@menu_order.lettuce%>
document.getElementById(<%=@menu_order.menu.id%>+'-'+<%=@menu_order.id%>+'-bread').textContent = <%=@menu_order.bread%>
document.getElementById(<%=@menu_order.menu.id%>+'-'+<%=@menu_order.id%>+'-price').textContent = <%=(@menu_order.soup*@menu_order.menu.soup_p + 
                                                                                                    @menu_order.main_course*@menu_order.menu.main_p + 
                                                                                                    @menu_order.side1*@menu_order.menu.side1_p + 
                                                                                                    @menu_order.side2*@menu_order.menu.side2_p + 
                                                                                                    @menu_order.beetroot*@menu_order.menu.beetroot_p + 
                                                                                                    @menu_order.cabbage*@menu_order.menu.cabbage_p + 
                                                                                                    @menu_order.lettuce*@menu_order.menu.lettuce_p + 
                                                                                                    @menu_order.bread*@menu_order.menu.bread_p).round(2)%>+" kn"