<%- if controller_name != 'sessions' %>
  <%= link_to "Prijava", new_session_path(resource_name), class: "button button-add"  %><br />
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Registracija", new_registration_path(resource_name), class: "button button-add"  %><br />
<% end %>

