<div class="table">
  <h2>Prijava</h2>
  <div class="form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label "E-mail" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label "Zaporka" %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <%= f.hidden_field :remember_me, value: true %>
      <% end %>
      
      <div class="actions">
        <%= f.submit "Prijavi se", class: "button button-add" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>