<div class="table">
  <h1>Obračun za <%=@date.strftime("%m.%Y.")%></h1>
  <%date=Date.current-1.months%>
  <div class="form-tag">
    <%= form_tag(calculation_path, method: :get ) do |f| %>
      <%=select_date(date, order: [:year, :month], start_year: 2020, end_year: Date.today.year)%>
      <%=submit_tag 'Generiraj Obračun', class: "button button-add"%>
    <%end%>
  </div>
  <table>
    <tr>
      <th>Ime</th>
      <th>Potrošeno (kn)</th>
    </tr>
    <%@employees.each do |employee|%>
      <tr>
        <td><%= employee.full_name %></td>
        <td class="sum"><%= sprintf("%.2f",employee.get_calculation(@date)) %></td>
      </tr>
    <%end%>
    <br>
    <tr>
      <td style="font-weight: bold;">Ukupno: </td>
      <td id="sum"></td>
    </tr>
  </table>
</div>

<script>
  (function() {
    var sum=0;
    var els = document.getElementsByClassName("sum");
    Array.from(els).forEach((el) => {
      sum+=parseFloat(el.textContent);
    });
    document.getElementById("sum").textContent=sum.toFixed(2);
  })();
</script>