<div class="table">
    <h2>Korisnici <%= link_to 'Nazad', menus_path, class: "button button-clear" %> </h2>
 
    <table>
        <thead>
        <tr>
            <th>Ime Zaposlenika</th>
            <th>Email</th>
            <th colspan="2">Akcije</th>
        </tr>
        </thead>

        <tbody>
            <% @employees.each do |employee| %>
                <tr>
                    <td><%=employee.full_name%></td>
                    <td><%=employee.email%></td>
                    <td>
                        <% if employee.approved %>
                            <%=link_to 'Zabrani', views_update_employee_path(employee_id: employee.id, update_param: "Disapprove"), method: :put, class: "button button-clear"%>
                        <%else%>
                            <%= link_to 'Odobri', views_update_employee_path(employee_id: employee.id, update_param: "Approve"), method: :put, class: "button button-add"%>
                        <%end%>
                    </td>
                    <td> <%=link_to 'Obriši', views_delete_employee_path(employee_id: employee.id), method: :delete, class: "button button-clear"%>  </td>
                </tr>
            <%end%>
    </tabe>
</div>