
<%@menus.each do |m|%>
    
    <div class="table">
        <h1><%=m.lunch_date.strftime("%d.%m.%Y")%></h1>
        <p><%=m.description%></p>           
        <table>
            <tr>
                <%if m.soup!="Nema"%><th><%=m.soup%> (<%=m.soup_p%> kn)</th><%end%>
                <%if m.main_course!="Nema"%><th><%=m.main_course%> (<%=m.main_p%> kn)</th><%end%>
                <%if m.side1!="Nema"%><th><%=m.side1%> (<%=m.side1_p%> kn)</th><%end%>
                <%if m.side2!="Nema"%><th><%=m.side2%> (<%=m.side2_p%> kn)</th><%end%>
                <th>Cikla (<%=m.beetroot_p%> kn)</th>
                <th>Kupus (<%=m.cabbage_p%> kn)</th>
                <th>Zelena salata (<%=m.lettuce_p%> kn)</th>
                <th>Kruh (<%=m.bread_p%> kn)</th>
                <th>Cijena</th>
                <th></th>
            </tr>
            <%m.menu_orders.where(employee_id: current_employee.id).each do |mo|%>
                <tr>
                    <%if m.soup!="Nema"%><td>
                        <p id="<%=m.id%>-<%=mo.id%>-soup"><%=mo.soup%></p>
                        <%=link_to "Dodaj", menu_order_update_attribute_path(mo, update_action: "soup"), method: :put, remote: true, class: "button button-add"%>
                    </td><%end%>
                    <%if m.main_course!="Nema"%><td>
                        <p id="<%=m.id%>-<%=mo.id%>-main"><%=mo.main_course%></p>
                        <%=link_to "Dodaj", menu_order_update_attribute_path(mo, update_action: "main"), method: :put, remote: true, class: "button button-add"%>
                    </td><%end%>
                    <%if m.side1!="Nema"%><td>
                        <p id="<%=m.id%>-<%=mo.id%>-side1"><%=mo.side1%></p>
                        <%=link_to "Dodaj", menu_order_update_attribute_path(mo, update_action: "side1"), method: :put, remote: true, class: "button button-add"%>
                    </td><%end%>
                    <%if m.side2!="Nema"%><td>
                        <p id="<%=m.id%>-<%=mo.id%>-side2"><%=mo.side2%></p>
                        <%=link_to "Dodaj", menu_order_update_attribute_path(mo, update_action: "side2"), method: :put, remote: true, class: "button button-add"%>
                    </td><%end%>
                    <td>
                        <p id="<%=m.id%>-<%=mo.id%>-beetroot"><%=mo.beetroot%> </p>
                        <%=link_to "Dodaj", menu_order_update_attribute_path(mo, update_action: "beetroot"), method: :put, remote: true, class: "button button-add"%>
                    </td>
                    <td> 
                        <p id="<%=m.id%>-<%=mo.id%>-cabbage"><%=mo.cabbage%> </p>
                        <%=link_to "Dodaj", menu_order_update_attribute_path(mo, update_action: "cabbage"), method: :put, remote: true, class: "button button-add"%>
                    </td>
                    <td>
                        <p id="<%=m.id%>-<%=mo.id%>-lettuce"><%=mo.lettuce%> </p>
                        <%=link_to "Dodaj", menu_order_update_attribute_path(mo, update_action: "lettuce"), method: :put, remote: true, class: "button button-add"%>
                    </td>
                    <td>
                        <p id="<%=m.id%>-<%=mo.id%>-bread"><%=mo.bread%></p>
                        <%=link_to "Dodaj", menu_order_update_attribute_path(mo, update_action: "bread"), method: :put, remote: true, class: "button button-add"%>
                    </td>
                    <td id="<%=m.id%>-<%=mo.id%>-price"><%=(mo.soup*m.soup_p + 
                                                            mo.main_course*m.main_p + 
                                                            mo.side1*m.side1_p + 
                                                            mo.side2*m.side2_p + 
                                                            mo.beetroot*m.beetroot_p + 
                                                            mo.cabbage*m.cabbage_p + 
                                                            mo.lettuce*m.lettuce_p + 
                                                            mo.bread*m.bread_p).round(2)     %> kn</td>
                    <td>
                        <div id="clear-order-button">
                            <%= link_to "Očisti", menu_order_update_attribute_path(mo, update_action: "clear"), method: :put, remote: true, class: "button button-clear"%>                        
                        </div>
                    </td>
                </tr>
            <%end%>
        </table>
    </div>
<%end%>