<div class="table">
  <h1>Današnja narudžba (<%=Date.today.strftime("%d.%m.%Y.")%>)</h1>
  <%if !@today or @today.not_ordered%>
    <h3>Nema narudžbe!</h3>
  <%else%>
    <%if @today.menu.soup!="Nema"%><h3> <%=@today.menu.soup.humanize%>: <%=@today.soup%> </h3><%end%>
    <%if @today.menu.main_course!="Nema"%><h3> <%=@today.menu.main_course%>: <%=@today.main_course%> </h3><%end%>
    <%if @today.menu.side1!="Nema"%><h3> <%=@today.menu.side1%>: <%=@today.side1%> </h3><%end%>
    <%if @today.menu.side2!="Nema"%><h3> <%=@today.menu.side2%>: <%=@today.side2%> </h3><%end%>
    <%if @today.cabbage%><h3> Kupus: <%=@today.cabbage%> </h3><%end%>
    <%if @today.lettuce%><h3> Zelena salata: <%=@today.lettuce%> </h3><%end%>
    <%if @today.beetroot%><h3> Cikla: <%=@today.beetroot%> </h3><%end%>
    <%if @today.bread%><h3> Kruh: <%=@today.bread%> </h3><%end%>
  <%end%>
  </br>
  <h2>Potrošeno ovaj mjesec: <%=@month%> kn</h2>
</div>