<!DOCTYPE html>
<html>
  <head>
    <title>Narudžba Ručka</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <ul>
      <% if employee_signed_in? %>
        <li>
          <%= link_to('Odjava', destroy_employee_session_path, method: :delete) %>        
        </li>
        <% if !current_employee.admin?%>
          <li>
            <%= link_to('Uredi Profil', edit_employee_registration_path(current_employee)) %>        
          </li>          
          <li>
            <%= link_to('Moguće narudžbe', root_path) %>        
          </li>          
          <li>
            <%= link_to('Današnja narudžba', info_path) %>        
          </li>
        <%end%>
        <% if current_employee.admin? %>
        <li>
          <%= link_to('Meniji', menus_path) %>        
        </li>
        <li>
          <%= link_to('Korisnici', employees_path) %>        
        </li>
        <li>
          <%= link_to('Obračun', calculation_path) %>        
        </li>
        <% end %>
      <% else %>
        <li>
        <%= link_to('Prijava', new_employee_session_path) %>  
        </li>
      <% end %>
    </ul>
  </head>

  <body>

    <%= yield %>
  </body>
</html>
